<!DOCTYPE html>
<html>
  <head>
    <title>MusicOrganizeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>

    <div>
      <h1 class="header-title">MUSIC APP!</h1>
    </div>
    <div class="login-container">
      <%= render "shared/user_login_info" %>
    </div>
  </div>
  </header>

  <body>
    <%= yield %>
  </body>

</html>
